{
  "**/*.{js,mjs,cjs,ts,mts,cts}": [
    "prettier --check",
    "oxlint --deny-warnings"
  ],
  "**/*.{md,json}": "prettier --check",
  "renovate.json": "pnpm --package=renovate dlx renovate-config-validator --strict"
}
